x09-LocalMqtt/node-red-data/flows.json
[
    {
        "id": "scale_rs232_tab",
        "type": "tab",
        "label": "Scale RS232",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ui_base_id",
        "type": "ui_base",
        "theme": {
            "name": {
                "name": "theme-dark",
                "lightTheme": {
                    "default": "#0094CE",
                    "baseColor": "#0094CE",
                    "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                    "edited": true,
                    "reset": false
                },
                "darkTheme": {
                    "default": "#097479",
                    "baseColor": "#097479",
                    "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                    "edited": true,
                    "reset": false
                },
                "customTheme": {
                    "name": "Untitled Theme 1",
                    "default": "#4B7930",
                    "baseColor": "#4B7930",
                    "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                },
                "themeState": {
                    "base-color": {
                        "default": "#097479",
                        "value": "#097479",
                        "edited": false
                    },
                    "page-titlebar-backgroundColor": {
                        "value": "#097479",
                        "edited": false
                    },
                    "page-backgroundColor": {
                        "value": "#111111",
                        "edited": false
                    },
                    "page-sidebar-backgroundColor": {
                        "value": "#333333",
                        "edited": false
                    },
                    "group-textColor": {
                        "value": "#0eb8c0",
                        "edited": false
                    },
                    "group-backgroundColor": {
                        "value": "#333333",
                        "edited": false
                    },
                    "widget-textColor": {
                        "value": "#eeeeee",
                        "edited": false
                    },
                    "widget-backgroundColor": {
                        "value": "#097479",
                        "edited": false
                    },
                    "widget-borderColor": {
                        "value": "#333333",
                        "edited": false
                    },
                    "base-font": {
                        "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                    }
                },
                "angularState": {
                    "baseColor": "#097479",
                    "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                    "pageTitleBackgroundColor": "#097479",
                    "pageBackgroundColor": "#111111",
                    "pageSidebarBackgroundColor": "#333333",
                    "groupTextColor": "#0eb8c0",
                    "groupBackgroundColor": "#333333",
                    "widgetTextColor": "#eeeeee",
                    "widgetBackgroundColor": "#097479",
                    "widgetBorderColor": "#333333"
                },
                "angularTheme": {
                    "primary": "indigo",
                    "accents": "blue",
                    "warn": "red",
                    "background": "grey",
                    "palette": "light"
                }
            },
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ui_tab_id",
        "type": "ui_tab",
        "name": "Scales",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "ui_group_scale1",
        "type": "ui_group",
        "name": "Scale 01",
        "tab": "ui_tab_id",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_scale2",
        "type": "ui_group",
        "name": "Scale 02",
        "tab": "ui_tab_id",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_scale3",
        "type": "ui_group",
        "name": "Scale 03",
        "tab": "ui_tab_id",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "mqtt-broker-node",
        "type": "mqtt-broker",
        "name": "RabbitMQ",
        "broker": "rabbitmq",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "serial_config_s2",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": ""
    },
    {
        "id": "mqtt_in_s2",
        "type": "mqtt in",
        "z": "scale_rs232_tab",
        "name": "Scale ID-2 Bridge",
        "topic": "scale/raw/s2",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-node",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "func_parse_rs232_s2",
                "watchdog_s2"
            ]
        ]
    },
    {
        "id": "func_parse_rs232_s2",
        "type": "function",
        "z": "scale_rs232_tab",
        "name": "Parse Weight S2",
        "func": "const raw = msg.payload.toString();\nif (raw.length < 10) return null;\n\n// Examples: B0-0000243 Kg056, B0+0000373 Kg052, B0+9999990 Kg001 (error)\nconst stable = raw[1] === '0';\nconst sign = raw[2] === '-' ? -1 : 1;\nconst dataStr = raw.substring(3, 9);\nconst decimal = parseInt(raw[9]);\n\nlet weightValue = parseFloat(dataStr);\nif (!isNaN(weightValue)) {\n    const dFactor = isNaN(decimal) ? 2 : decimal;\n    const weight = (weightValue / Math.pow(10, dFactor)) * sign;\n    \n    // Check if this is an error status (weight = 9999990)\n    const isError = weightValue >= 999999;\n    \n    msg.payload = {\n        scale_id: 'scale-02',\n        weight: isError ? 9999990 : parseFloat(weight.toFixed(4)),\n        stable: isError ? false : stable,\n        unit: 'kg',\n        source: 'rs232',\n        status: isError ? 'error' : (stable ? 'stable' : 'unstable')\n    };\n    \n    flow.set('w2', msg.payload.weight);\n    const time = new Date().toLocaleTimeString();\n    const statusColor = isError ? \"red\" : (stable ? \"green\" : \"yellow\");\n    const statusText = isError ? \"ERROR\" : (stable ? \"S\" : \"U\");\n    node.status({fill: statusColor, shape: \"dot\", text: `[${time}] ${statusText}: ${msg.payload.weight}`});\n    if (!isError) node.warn(`RAW: ${raw} | PARSED: ${msg.payload.weight}`);\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_in_s1",
        "type": "mqtt in",
        "z": "scale_rs232_tab",
        "name": "Scale ID-1 Bridge",
        "topic": "scale/raw/s1",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-node",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "func_parse_rs232_s1",
                "watchdog_s1"
            ]
        ]
    },
    {
        "id": "func_parse_rs232_s1",
        "type": "function",
        "z": "scale_rs232_tab",
        "name": "Parse Weight S1",
        "func": "const raw = msg.payload.toString();\nif (raw.length < 10) return null;\n\n// Scale 1 (Address A) - Examples: A0+0002593 Kg05B, A0+9999990 Kg001 (error)\nconst stable = raw[1] === '0';\nconst sign = raw[2] === '-' ? -1 : 1;\nconst dataStr = raw.substring(3, 9);\nconst decimal = parseInt(raw[9]);\n\nlet weightValue = parseFloat(dataStr);\nif (!isNaN(weightValue)) {\n    const dFactor = isNaN(decimal) ? 2 : decimal;\n    const weight = (weightValue / Math.pow(10, dFactor)) * sign;\n    \n    // Check if this is an error status (weight = 9999990)\n    const isError = weightValue >= 999999;\n    \n    msg.payload = {\n        scale_id: 'scale-01',\n        weight: isError ? 9999990 : parseFloat(weight.toFixed(4)),\n        stable: isError ? false : stable,\n        unit: 'kg',\n        source: 'rs232',\n        status: isError ? 'error' : (stable ? 'stable' : 'unstable')\n    };\n    \n    flow.set('w1', msg.payload.weight);\n    const time = new Date().toLocaleTimeString();\n    const statusColor = isError ? \"red\" : (stable ? \"green\" : \"yellow\");\n    const statusText = isError ? \"ERROR\" : (stable ? \"S\" : \"U\");\n    node.status({fill: statusColor, shape: \"dot\", text: `[${time}] ${statusText}: ${msg.payload.weight}`});\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_out_s1",
        "type": "mqtt out",
        "z": "scale_rs232_tab",
        "name": "Publish Scale 01 Data",
        "topic": "scale/scale-01",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-node",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "mqtt_out_s2",
        "type": "mqtt out",
        "z": "scale_rs232_tab",
        "name": "Publish Scale 02 Data",
        "topic": "scale/scale-02",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-node",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "watchdog_s1",
        "type": "trigger",
        "z": "scale_rs232_tab",
        "name": "Watchdog S1",
        "op1": "",
        "op2": "A0+9999990 Kg001",
        "op1type": "nul",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "func_parse_rs232_s1"
            ]
        ]
    },
    {
        "id": "watchdog_s2",
        "type": "trigger",
        "z": "scale_rs232_tab",
        "name": "Watchdog S2",
        "op1": "",
        "op2": "B0+9999990 Kg001",
        "op1type": "nul",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "func_parse_rs232_s2"
            ]
        ]
    },
    {
        "id": "mqtt_in_s3",
        "type": "mqtt in",
        "z": "scale_rs232_tab",
        "name": "Scale ID-3 Bridge",
        "topic": "scale/raw/s3",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-node",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "func_parse_rs232_s3",
                "watchdog_s3"
            ]
        ]
    },
    {
        "id": "watchdog_s3",
        "type": "trigger",
        "z": "scale_rs232_tab",
        "name": "Watchdog S3",
        "op1": "",
        "op2": "C0+9999990 Kg001",
        "op1type": "nul",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "func_parse_rs232_s3"
            ]
        ]
    },
    {
        "id": "func_parse_rs232_s3",
        "type": "function",
        "z": "scale_rs232_tab",
        "name": "Parse Weight S3",
        "func": "const raw = msg.payload.toString();\nif (raw.length < 10) return null;\n\n// Examples: C0+0000003 Kg057, C0+9999990 Kg001 (error)\nconst stable = raw[1] === '0';\nconst sign = raw[2] === '-' ? -1 : 1;\nconst dataStr = raw.substring(3, 9);\nconst decimal = parseInt(raw[9]);\n\nlet weightValue = parseFloat(dataStr);\nif (!isNaN(weightValue)) {\n    const dFactor = isNaN(decimal) ? 2 : decimal;\n    const weight = (weightValue / Math.pow(10, dFactor)) * sign;\n    \n    // Check if this is an error status (weight = 9999990)\n    const isError = weightValue >= 999999;\n    \n    msg.payload = {\n        scale_id: 'scale-03',\n        weight: isError ? 9999990 : parseFloat(weight.toFixed(4)),\n        stable: isError ? false : stable,\n        unit: 'kg',\n        source: 'rs232',\n        status: isError ? 'error' : (stable ? 'stable' : 'unstable')\n    };\n    \n    flow.set('w3', msg.payload.weight);\n    const time = new Date().toLocaleTimeString();\n    const statusColor = isError ? \"red\" : (stable ? \"green\" : \"yellow\");\n    const statusText = isError ? \"ERROR\" : (stable ? \"S\" : \"U\");\n    node.status({fill: statusColor, shape: \"dot\", text: `[${time}] ${statusText}: ${msg.payload.weight}`});\n    if (!isError) node.warn(`RAW: ${raw} | PARSED: ${msg.payload.weight}`);\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_out_s3",
        "type": "mqtt out",
        "z": "scale_rs232_tab",
        "name": "Publish Scale 03 Data",
        "topic": "scale/scale-03",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-node",
        "x": 1000,
        "y": 320,
        "wires": []
    }
]